# dependencies
node_modules

# build
.next
dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# websocket-server
websocket-server/emails.json
